

html, body{
height: 100%;
width: 100%;
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
p{
font-family: verdana;
font-size: 20px;
}

.div1{
color: white;
position: absolute;
height: 35%;
width: 25%;
background-color: #B7410E;
}

.div2{
color: white;
position: absolute;
top: 35%;
height: 65%;
width: 25%;
background-color: #00BFFF;
}

.div3{
position: absolute;
left: 25%;
color: white;
height: 85%;
width: 75%;
background-color: #DAA520;
}

.div4{
color: white;
position: absolute;
left: 25%;
bottom: 0%;
height: 15%;
width: 55%;
background-color: #191970;
}

.div5{
color: white;
position: absolute;
right: 0%;
bottom: 0%;
height: 15%;
width: 20%;
background-color: #32CD32;
}
.box{
color: black;
position: absolute;
right: 2%;
top: 40%;
height: 40%;
width: 20%;
background-color: white;
border-radius: 12px;
}
.inbox{
color: #000080;
position: absolute;
right: 2%;
top: 40%;
height: 10%;
width: 20%;
background-color: #00BFFF;
border-radius: 12px;
}

@media screen and (max-width: 480px) {    
    .div1, .div2, .div3, .div4, .div5{
    	width: 100%;
    	float: none;
    	text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {    
    .div1, .div2, .div3, .div4, .div5{
    	width: 100%;
    }
}


 /*https://www.youtube.com/watch?v=cSOcSmC39zo*/
 